@font-face {
  font-family: 'Nikukyu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+30B9, U+30AF, U+30DE;
  src: url('https://fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.eot');
  src: url('https://fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.eot?#iefix') format('embedded-opentype'), url('https://fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.woff2') format('woff2'),
    url('https://fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.woff') format('woff'),
    url('https://fonts.gstatic.com/ea/nikukyu/v1/Nikukyu-Regular.ttf') format('truetype');
}

html {
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: #efefef;
  color: #454545;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem auto;
  background-color: #fff;
  border-radius: 57% 43% 40% 60% / 59% 50% 50% 41%;
  width: 6rem;
  height: 6rem;
  font-family: 'Nikukyu';
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
}

.form-block {
  margin: 1rem 0.5rem;
}

.form-label {
  margin-right: 0.25rem;
  padding-left: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #6d6d6d;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.form-input,
.form-textarea {
  resize: none;
  flex-grow: 1;
  margin-top: 0.25rem;
  border: none;
  border-left: 0.125rem solid #6bab87;
  border-radius: 0.125rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
}

.form-input.--title {
  letter-spacing: -0.05rem;
}

.form-textarea {
  height: 15rem;
}

.form-checkbox-area {
  display: block;
  margin: -0.5rem auto;
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

.form-checkbox {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 0.125rem;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='rgb(107,171,135)' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

.form-button {
  background-color: #6bab87;
  border: 1px solid #3a605f;
  border-radius: 0.125rem;
  padding: 1rem;
  width: calc(100vw - 1rem);
  font-family: 'Nikukyu';
  font-size: 1.5rem;
}

.align-center {
  text-align: center;
}
